//*opacity animation
.v-enter-active,
.v-leave-active {
	transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
	opacity: 0;
}

//*page animation
.page-enter-active,
.page-leave-active {
	transition: all 0.3s ease;
	transform: translateY(0);
}

.page-enter-from,
.page-leave-to {
	opacity: 0;
	transform: translateY(3rem);
	transition: all 0.3s ease;
}

.fade-up-enter-active,
.fade-up-leave-active {
	transition: all 0.5s ease;
	transform: translateY(0);
}

.fade-up-enter-from,
.fade-up-leave-to {
	opacity: 0;
	transform: translateY(3rem);
	transition: all 0.5s ease;
}

//* other animations
.fade-up-fast-enter-active,
.fade-up-fast-leave-active {
	transition: all 0.2s ease;
	transform: translateY(0);
}

.fade-up-fast-enter-from,
.fade-up-fast-leave-to {
	opacity: 0;
	transform: translateY(3rem);
	transition: all 0.2s ease;
}

.fade-down-enter-active,
.fade-down-leave-active {
	transition: all 0.5s ease;
	transform: translateY(0);
}

.fade-down-enter-from,
.fade-down-leave-to {
	opacity: 0;
	transform: translateY(-3rem);
	transition: all 0.5s ease;
}

.fade-left-enter-active,
.fade-left-leave-active {
	transition: all 0.3s ease;
	transform: translateY(0);
}

.fade-left-enter-from,
.fade-left-leave-to {
	opacity: 0;
	transform: translateX(-3rem);
	transition: all 0.3s ease;
}

@keyframes bounceInUp {
	from,
	60%,
	75%,
	90%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	from {
		opacity: 0;
		transform: translate3d(0, 3000px, 0) scaleY(5);
	}

	60% {
		opacity: 1;
		transform: translate3d(0, -20px, 0) scaleY(0.9);
	}

	75% {
		transform: translate3d(0, 10px, 0) scaleY(0.95);
	}

	90% {
		transform: translate3d(0, -5px, 0) scaleY(0.985);
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

.bounceInUp {
	animation-name: bounceInUp;
}
