$dark: #4b4b4b;
$gray: #505c74;
$middle-gray: #aeb3bf;
$light-gray: #eee;
$white: #fefefe;

$gray-blue: #acb7c5;
$dark-blue: #000888;
$blue: #007bfc;
$middle-blue: #2e94ff;
$soft-blue: #80aad9;
$light-blue: #ecf5ff;

$red: #f4364c;
$warm-red: #e24522;
$yellow: #efba1c;

//* Academ
$gold: #cc9964;
$light-gold: #fff9d0;
$middle-gold: #e4cda1;
$pink: #f6d6b9;

$dark-green: #00212d;
$green: #00ff00;

//* scrollbar
$scrollbarBg: rgb(235, 235, 235);
$scrollbarThumb: $blue;
$scrollbarWidth: 1rem;
$scrollbarBorder: 0.2rem solid $scrollbarBg;
$scrollbarBorderRadius: calc(($scrollbarWidth) / 2);

$shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
